:root{
       /* pokemon types */

   --normal-color: #A8A878;
   --fire-color: #F08030;
   --water-color: #6890F0;
   --ice-color: #68f0de;
   --grass-color: #78C850;
   --electric-color: #F8D030;
   --fighting-color: #C03028;
   --poison-color: #A040A0;
   --ground-color: #E0C068;
   --flying-color: #A890F0;
   --psychic-color: #F85888;
   --bug-color: #A8B820;
   --rock-color: #B8A038;
   --ghost-color: #705898;
   --dragon-color: #7038F8;
   --dark-color: #705848;
   --steel-color: #B8B8D0;
   --fairy-color: #EE99AC;

}

header{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 20px;
    height: 180px;
}
header a{
    margin-right: 30px;
}
header .pokemon-number{
    font-size: 20px;
    margin-left: 30px;
   
}
header .pokemon-name{
 text-transform: capitalize;
 
}

.svg-inline--fa.fa-arrow-left{
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
  }
  
.image-container{
    position: absolute;
    top: 70px;
    right: 8%;
    display: flex;
}
.image-container button{
 background-color: transparent;
 border: none;
 color: #fff;
 cursor: pointer;
 font-size: 16px;
 margin: 50px;
  
}
section{
    background-color: #fff;
    margin: 0 auto;
    width: 95%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.type{
    grid-column: 1 / span 3;  
    display: flex;
    margin-top: 20px;
    text-align: center;
    margin: 30px auto 10px auto;
 
}
.type li{
    list-style: none;
    padding: 8px;
    margin: 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    background-color: var(--grass-color);
  
}
.pokemon-about{
grid-column: 1 / span 3;  
 display: grid;   
 width: 90%;
margin: 0 auto;
}
.pokemon-about h2{
    grid-column: 1 / span 3;    
    text-align: center;
    color: #adadad;
    font-size: 18px;
    font-weight: 700;
   margin-bottom: 20px;
   }
   .container-about {
    border: 1px dashed black;
    height: 50px;
    text-align: center;
    font-size: 12px;
    display: grid;
    align-items: end;
  }
  .container-about li{
   
    list-style: none;
    font-weight: 700;
 

  }

  .pokemon-weight {
    background-image: url('../imagens/weight-hanging-solid.svg');
    background-repeat: no-repeat;
    background-position-x: 20px;
  }
  
  .pokemon-height {
    background-image: url('../imagens/ruler-vertical-solid.svg');
    background-repeat: no-repeat;
    background-position-x: 28px;
  
  }
  
   .container-about span{
    margin: 5px;
   }
   .container-text{
    grid-column: 1 / span 3;   
    width: 90%;
    margin: 20px auto;
    text-align: justify;
   }
   .container-stats{
    grid-column: 1 / span 3;   
    width: 90%;
    margin: 20px auto;

   }
   
   .stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .stat-name {
    font-weight: bold;
    text-align: center;
    width: 50px;
  }
  
  .stat-value {
    margin-left: 10px;
    margin-right: auto;
    text-align: right;
    width: 30px;
  }
  
  .stat-bar {
    background-color: grey;
    height: 5px;
    flex-basis: 70%;
   
  }
  
  .stat-bar-value {
    background-color: var(--color);
    height: 5px;
  }
  
      
  
  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  @media  screen and (min-width: 720px) {
    
    .pokemon-number {
      font-size: 24px;
    }
    .image-container img {
      width: 200px;
      height: 200px;
    }
    .container-stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .stat {
      flex-basis: calc(33.33% - 20px);
    }
    

    .image-container{
      position: absolute;
      top: 80px;
      left: 43%;
      display: block;
  }
  .image-container button.btn-prev{
      position: absolute;
      font-size: 32px;
      top: 30px;
      right: 100%;
   }
   .image-container button.btn-next{
    position: absolute;
    font-size: 32px;
    top: 30px;
    
 }
 .pokemon-weight {
  font-size: 16px;
  background-position-x: 100px;
}

.pokemon-height {
  font-size: 16px;
  background-position-x: 100px;

}
.stat-name {

  width: 100px;
}

.stat-value {
 
  width: 60px;
}
.stat-bar {

  height: 10px;
  flex-basis: 80%;
 
}

.stat-bar-value {
 
 
  height: 10px;
}
body{
  margin: 0 auto;
  overflow-x: hidden;
 
}

  }
  