:root{

   --primary-color: #DC0A2D;
   --Background:   #EFEFEF;


}

body{
    background-color: var(--primary-color);
}
header{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    

}
.pokemon-logo, .pokemon-search{
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  
}
.pokemon-logo img, span{
    margin: 5px;
}
.logo{
  display: none;
}
.pokemon-search input{
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);

}
form{
    width: 90%;  
  
}

.pokemon-search input::placeholder {
 background-image: url("../imagens/magnifying-glass-solid.svg");
 background-repeat: no-repeat;
 padding-left: 30px
 
}

.pokemon-search button{
   
    padding: 10px;
    border: none;
    margin: 10px;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: var(--primary-color);
      
}
section{
    background-color: #fff;
    display: grid;
    margin: 0 auto;
    width: 95%;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr 1fr;
}
.container-pokemon{
    background-color: #fff;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 170px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    }
    .pokemon-image{
        position: absolute;
        top: 30px;
        left: 10%;
        z-index: 1;
    }
    .nome-pokemon{
        background-color: var(--Background);
        position: absolute;
        width: 100%;
        height: 110px;
        top: 60px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 30px;
        z-index: 0;    
    }
.pokemon-number{
    margin: 5px;
    text-align: end;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #000;
    color: #fff;
  }
  
  .pagination button[data-next]:disabled,
  .pagination button[data-previous]:disabled {
    opacity: 0.5;
    cursor: default;
  }
  .page-number{
    font-weight: 700;
    margin-top: 10px;
  }

  .warning {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    
  }
  
@media screen and (min-width: 720px) {
  
  header{
    font-size: 80px;
    padding: 20px;
    
}
.pokemon-logo img{
  width: 120px;
}

.pokemon-logo img, span{
  margin: 20px;
}
.pokemon-search input{
  padding: 20px;
  margin-left: 10px;
  width: 90%;
  font-size: 32px;
}
.pokemon-search input::placeholder {
  padding-left: 60px;
  
 }
 .pokemon-search button{
   
  padding: 20px;
  width: 80px; 
  font-size: 30px;
  height: 80px;
 }


 .container-pokemon{
  padding: 20px;
  height: 240px;
  margin: 10px;

  }
  .pokemon-image{
      top: 30px;
      left: 50px;
      width: 180px;
     
  }
  .nome-pokemon{
      
      top: 170px;
      font-size: 28px;
    
  }
.pokemon-number{
  font-size: 26px;
}
.pagination button{
  padding: 20px;
  font-size: 26px;
}
.page-number{
  
   font-size: 26px;
    margin-top: 20px;
  }
  .logo-m{
    display: none;
  }
  .logo{
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .pokemon-image{
    top: 30px;
    left: 120px;
    width: 180px;
   
   
}

.container-pokemon:hover{
background-color: #e4405b;
opacity: 0,5;

  }
  body::-webkit-scrollbar {
    width: 12px;               
  }
  body::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0.459);   
  
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    
    border-radius: 20px;    
    border: 3px solid rgba(255, 166, 0, 0.514);  
  }
}